In [1]:
countries=["India","US","China","Russia",4]

In [2]:
print(len(countries))#len is used to print out the number of elements

5

In [3]:
countries[0]

'India'

In [4]:
countries[0:3]

['India', 'US', 'China']

In [5]:
countries[0:-1]

['India', 'US', 'China', 'Russia']

In [6]:
countries.append("UK")
countries

['India', 'US', 'China', 'Russia', 4, 'UK']

In [7]:
countries.insert(4,"Australia")

In [8]:
countries

['India', 'US', 'China', 'Russia', 'Australia', 4, 'UK']

In [9]:
new_countries=["Sri Lanka","Canada","Brazil"]

In [10]:
countries.append(new_countries)

In [11]:
countries

['India',
 'US',
 'China',
 'Russia',
 'Australia',
 4,
 'UK',
 ['Sri Lanka', 'Canada', 'Brazil']]

In [12]:
countries.pop()

['Sri Lanka', 'Canada', 'Brazil']

In [13]:
countries.extend(new_countries)
countries

['India',
 'US',
 'China',
 'Russia',
 'Australia',
 4,
 'UK',
 'Sri Lanka',
 'Canada',
 'Brazil']

In [14]:
countries.remove(4)

In [15]:
countries

['India',
 'US',
 'China',
 'Russia',
 'Australia',
 'UK',
 'Sri Lanka',
 'Canada',
 'Brazil']

In [16]:
countries.pop()

'Brazil'

In [17]:
countries.reverse()

In [18]:
countries

['Canada', 'Sri Lanka', 'UK', 'Australia', 'Russia', 'China', 'US', 'India']

In [19]:
countries.sort()
countries

['Australia', 'Canada', 'China', 'India', 'Russia', 'Sri Lanka', 'UK', 'US']

In [20]:
countries.sort(reverse=True)
countries

['US', 'UK', 'Sri Lanka', 'Russia', 'India', 'China', 'Canada', 'Australia']

In [21]:
new_countries=sorted(countries)

In [22]:
new_countries

['Australia', 'Canada', 'China', 'India', 'Russia', 'Sri Lanka', 'UK', 'US']

In [23]:
marks=[11,22,33,44,55]
print(sum(marks))
print(max(marks))
print(min(marks))
print(marks.index(22))# If value is not in the list it will return a value error

165
55
11
1

In [24]:
print(2 in marks)

False

In [25]:
#Joining strings inside a list
result = ", ".join(countries)
result

'US, UK, Sri Lanka, Russia, India, China, Canada, Australia'

In [26]:
result.split(', ')

['US', 'UK', 'Sri Lanka', 'Russia', 'India', 'China', 'Canada', 'Australia']

In [27]:
#tuples-similar to lists. Lists are mutable but tuples are immutable

In [28]:
list1 = [1,2,3,4]
list2=list1
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
list2[1]=99

In [30]:
print(list1)
print(list2)

[1, 99, 3, 4]
[1, 99, 3, 4]

In [31]:
countries=("India","US","China","Russia",4)

In [32]:
#sets

In [51]:
set1={1,2,3,4,4,5,6,7,7,7,8,"b","a"}

In [52]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b'}

In [53]:
set2={1,2,3,4,4,5,6,7,7,7,8,9,10}
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
set1.intersection(set2)#Intersection is Common elements between two sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
set1.difference(set2)#Difference is Common elements between two sets

{'a', 'b'}

In [56]:
set2.difference(set1)

{9, 10}

In [39]:
set1.union(set2)

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b'}

In [57]:
list1=[1,2,2,6,4,'abc']
list1=list(set(list1))
list1

[1, 2, 4, 6, 'abc']

In [58]:
#dictionaries

In [59]:
dict1={
    "name":"Aakash",
    "age":21,
    "gender":"Male"
}

In [61]:
dict1["name"]#if key doesnt exist it will return error
#dict1["class"]

KeyError: 'class'

In [64]:
dict1.get("name")#if key doesnt exist it will return none
print(dict1.get("class"))

None

In [65]:
dict1["phone_number"]=123456

In [66]:
dict1

{'name': 'Aakash', 'age': 21, 'gender': 'Male', 'phone_number': 123456}

In [67]:
dict1['name']="Prateek"
dict1['age']=22
dict1

{'name': 'Prateek', 'age': 21, 'gender': 'Male', 'phone_number': 123456}

In [69]:
dict1.update({"name":"Stavya","age":23,"gender":"Female"})
dict1

{'name': 'Stavya', 'age': 23, 'gender': 'Female', 'phone_number': 123456}

In [70]:
del dict1["phone_number"]
dict1

{'name': 'Stavya', 'age': 23, 'gender': 'Female'}

In [71]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'gender'])
dict_values(['Stavya', 23, 'Female'])
dict_items([('name', 'Stavya'), ('age', 23), ('gender', 'Female')])

In [ ]:
empty_list=[]
empty_tuple=()
empty_set=set()
empty_dict={}